
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 15vh;
    right: 15vw;
    position: absolute;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    text-align: center;
    border-radius: 20px;
}

#input * {
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    margin: 5px;
}
